#
# ░█▀▀░█░░░█▀█░█▀▄░█▀█░█░░
# ░█░█░█░░░█░█░█▀▄░█▀█░█░░
# ░▀▀▀░▀▀▀░▀▀▀░▀▀░░▀░▀░▀▀▀
#
# Dotfiles project
**/*.tmp*
setup.conf
install.log

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
**/__pycache__/*
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

.idea*

# ░█▀█░▀█▀░█░█░█▀█░█▀▀
# ░█░█░░█░░▄▀▄░█░█░▀▀█
# ░▀░▀░▀▀▀░▀░▀░▀▀▀░▀▀▀
.direnv/*
result
.ccls-cache
.pre-commit-config.yaml
.venv

**/.claude/settings.local.json
