:root {
  --base: #24273a;
  --mantle: #1e2030;
  --crust: #181926;

  --text: #cad3f5;
  --subtext0: #b8c0e0;
  --subtext1: #a5adcb;

  --surface0: #363a4f;
  --surface1: #494d64;
  --surface2: #5b6078;

  --overlay0: #6e738d;
  --overlay1: #8087a2;
  --overlay2: #939ab7;

  --blue: #8aadf4;
  --lavender: #b7bdf8;
  --sapphire: #7dc4e4;
  --sky: #91d7e3;
  --teal: #8bd5ca;
  --green: #a6da95;
  --yellow: #eed49f;
  --peach: #f5a97f;
  --maroon: #ee99a0;
  --red: #ed8796;
  --mauve: #c6a0f6;
  --pink: #f5bde6;
  --flamingo: #f0c6c6;
  --rosewater: #f4dbd6;

  /* Containter Tab Colours */
  --uc-identity-colour-blue: var(--blue);
  --uc-identity-colour-turquoise: var(--teal);
  --uc-identity-colour-green: var(--green);
  --uc-identity-colour-yellow: var(--yellow);
  --uc-identity-colour-orange: var(--peach);
  --uc-identity-colour-red: var(--red);
  --uc-identity-colour-pink: var(--pink);
  --uc-identity-colour-purple: var(--mauve);

  --uc-identity-colour-blue-muted: #7ed6df99;
  --uc-identity-colour-turquoise-muted: #55e6c199;
  --uc-identity-colour-green-muted: #b8e99499;
  --uc-identity-colour-yellow-muted: #f7d794cc;
  --uc-identity-colour-orange-muted: #f19066ff;
  --uc-identity-colour-red-muted: #fc5c65ff;
  --uc-identity-colour-pink-muted: #f78fb399;
  --uc-identity-colour-purple-muted: #786fa6ff;

  --uc-theme-colour: var(--window-colour, var(--toolbar-bgcolor));
  --uc-hover-colour: var(--secondary-colour, rgba(0, 0, 0, 0.2));
  --uc-inverted-colour: var(--inverted-colour, var(--toolbar-color));

  --button-bgcolor: var(--uc-theme-colour) !important;
  --button-hover-bgcolor: var(--uc-hover-colour) !important;
  --button-active-bgcolor: var(--uc-hover-colour) !important;

  --toolbarbutton-border-radius: var(--uc-border-radius) !important;

  --tab-border-radius: var(--uc-border-radius) !important;
  --lwt-text-color: var(--uc-inverted-colour) !important;
  --lwt-tab-text: var(--uc-inverted-colour) !important;

  --arrowpanel-border-radius: var(--uc-border-radius) !important;

  --tab-block-margin: 2px !important;

  /* URL colour in URL bar suggestions */
  --urlbar-popup-url-color: var(--uc-identity-colour-blue) !important;

  /*---+---+---+---+---+---+---+
   | V | I | S | U | A | L | S |
   +---+---+---+---+---+---+---*/

  /* global border radius */
  --uc-border-radius: 0;

  /* dynamic url bar width settings */
  --uc-urlbar-width: clamp(200px, 40vw, 500px);

  /* dynamic tab width settings */
  --uc-active-tab-width: clamp(100px, 20vw, 300px);
  --uc-inactive-tab-width: clamp(50px, 15vw, 200px);

  /* if active always shows the tab close button */
  --show-tab-close-button: none;
  /* DEFAULT: -moz-inline-box; */

  /* if active only shows the tab close button on hover*/
  --show-tab-close-button-hover: none;
  /* DEFAULT: -moz-inline-box; */

  /* adds left and right margin to the container-tabs indicator */
  --container-tabs-indicator-margin: 10px;
}

@media (prefers-color-scheme:dark) {
  :root {
    --bg: #1a1b26;

    --urlbar-bg: #181926;
    --urlbar-border-top: #000;
    --urldrop-bg: #0d0d15;
    --urlbar-border-bottom: #404040;
    --urlbar-height: 30px;
    --urlbar-outline: #414868;

    --fullscreen-warn: #181926;

    --arrowpanel-background: var(--urlbar-bg) !important;
    --button-hover-bgcolor: rgba(159, 159, 159, 0.35) !important;
    --button-active-bgcolor: rgba(255, 255, 255, .2) !important;
    --button-bgcolor: rgba(117, 117, 117, 0.9) !important;
    --toolbarbutton-icon-fill-opacity: 0.8 !important;
    --arrowpanel-border-color: rgb(55, 55, 55) !important;

    --dark-menu-background-color: var(--base) !important;
    --dark-menu-border-color: var(--mantle) !important;
    --dark-menuitem-hover-background-color: rgba(159, 159, 159, 0.35) !important;

    --window-colour: var(--base);
    --secondary-colour: var(--mantle);
    --inverted-colour: #fafafc;
  }
}

@media (prefers-color-scheme:light) {
  :root {
    --bg: #f1f5f9;

    --urlbar-bg: #cbd5e1;
    --urlbar-border-top: #9ca3af;
    --urlbar-border-bottom: #fff;
    --urldrop-bg: #cbd5e1;
    --urlbar-outline: #94a3b8;

    --fullscreen-warn: rgb(25, 25, 25);

    --arrowpanel-background: #e2e8f0 !important;
    --button-hover-bgcolor: #9699a3 !important;
  }
}

/* Suppress Connecting/Waiting/Reading/Transerring */
/* #statuspanel[type="status"] { */
/*   display: none !important; */
/* } */

/* Suppress Link Destination Overlay */
/* #statuspanel[type="overLink"] { */
/*   display: none !important; */
/* } */

/* URL BAR */
/* #urlbar { */
/*   border-radius: 30px !important; */
/*   border: 0 !important; */
/* } */
/**/
/* #urlbar:not(.megabar):not([focused="true"]):hover { */
/*   outline: 1px solid var(--urlbar-outline) !important; */
/* } */
/**/
/* #urlbar[focused="true"] { */
/*   border: 0 !important; */
/*   border-top: 1px solid var(--urlbar-border-top) !important; */
/*   border-bottom: 1px solid var(--urlbar-border-bottom) !important; */
/*   border-radius: 30px !important; */
/* } */

/* #urlbar[breakout][breakout-extend] { */
/*   border: none !important; */
/*   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, */
/*     rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, */
/*     rgba(0, 0, 0, 0.09) 0px 32px 16px !important; */
/*   top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important; */
/*   left: 0 !important; */
/*   width: 100% !important; */
/* } */
/**/
/* #urlbar-container { */
/*   margin-bottom: 10px; */
/* } */
/**/
/* #urlbar-background { */
/*   box-shadow: none !important; */
/*   border-radius: 30px !important; */
/*   background: var(--urlbar-bg) !important; */
/* } */
/**/
/* #urlbar[focused="true"] #urlbar-background { */
/*   box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.35) !important; */
/*   outline: none !important; */
/* } */
/**/
/* #wrapper-urlbar-container #urlbar { */
/*   height: var(--urlbar-height) !important; */
/* } */

/* Active Address/Search Field Dropdown */
/* #urlbar[breakout][breakout-extend]>#urlbar-background { */
/*   outline: none !important; */
/*   box-shadow: none !important; */
/*   background: var(--urldrop-bg) !important; */
/*   border-radius: 15px !important; */
/* } */
/**/
/* #urlbar[breakout][breakout-extend]>#urlbar-input-container, */
/* #urlbar-input-container { */
/*   height: var(--urlbar-height) !important; */
/*   padding-block: 0px !important; */
/*   padding-inline: 0px !important; */
/*   transition: none !important; */
/* } */

/* | Borders | */

/* .tabbrowser-tab::after { */
/*   border: 0 !important; */
/* } */
/**/
/* .titlebar-spacer[type="pre-tabs"] { */
/*   border: 0 !important; */
/* } */
/**/
/* #navigator-toolbox { */
/*   border: 1 !important; */
/* } */
/**/
/* .titlebar-spacer[type="pre-tabs"] { */
/*   border: 0 !important; */
/* } */
/**/
/* .tabbrowser-tab::after { */
/*   border: 0 !important; */
/* } */
/**/
/* #urlbar-background { */
/*   border: 0 !important; */
/* } */
/**/
/* #urlbar[open]>.urlbarView>.urlbarView-body-outer>.urlbarView-body-inner { */
/*   border-top: 0 !important; */
/* } */


/* Active Tab */
/* :root:not([lwt-default-theme-in-dark-mode]) .tab-background[selected], */
/* .tab-background[multiselected="true"] { */
/*   background: rgba(0, 0, 0, .05) !important; */
/* } */
/**/
/* :root[lwt-default-theme-in-dark-mode] .tab-background[selected], */
/* .tab-background[multiselected="true"] { */
/*   background: rgba(0, 0, 0, .2) !important; */
/* } */


/* Navigation Bar */

/* #nav-bar { */
/*   margin-top: -30px; */
/* } */
/**/
/* #nav-bar[inFullscreen="true"] { */
/*   margin-top: -13px; */
/* } */
/**/
/* #nav-bar { */
/*   background-color: var(--bg) !important; */
/* } */

/* Bookmarks Bar */
/* #PersonalToolbar { */
/*   background-color: var(--bg) !important; */
/* } */

/* Navigation Bar Separator */
/* #navigator-toolbox { */
/*   border-color: var(--bg) !important; */
/* } */

/* Navigation bar Buttons */
/* :root, */
/* toolbar { */
/*   --toolbarbutton-hover-background: rgba(255, 255, 255, .11) !important; */
/* } */

/* Show Tab close button on hover */
/* .tabbrowser-tab:not([pinned]) .tab-close-button { */
/*   display: -moz-box !important; */
/*   opacity: 0; */
/*   visibility: collapse !important; */
/*   transition: opacity 0.25s, visibility 0.25s ease-in !important; */
/* } */
/**/
/* .tabbrowser-tab:not([pinned]):hover .tab-close-button { */
/*   opacity: 1; */
/*   visibility: visible !important; */
/*   border-radius: 3px 3px 3px 3px !important; */
/* } */

/* Show URL buttons on Hover */
/* #nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#page-action-buttons { */
/*   opacity: 0; */
/* } */
/**/
/* #page-action-buttons { */
/*   transition: opacity 0.15s ease; */
/* } */
/**/
/* #nav-bar:not([customizing="true"])>#nav-bar-customization-target>#urlbar-container:not(:hover)>#urlbar:not([focused])>#urlbar-input-container>#tracking-protection-icon-container { */
/*   opacity: 0; */
/* } */
/**/
/* #tracking-protection-icon-container { */
/*   transition: opacity 0.15s ease; */
/* } */


/*Full Screen Warning*/

/* #fullscreen-warning { */
/*   background-color: var(--fullscreen-warn) !important; */
/*   border-color: var(--fullscreen-warn) !important; */
/*   max-width: 500px !important; */
/*   max-height: 50px !important; */
/*   border-radius: 50px !important; */
/*   font-size: 12px !important; */
/*   opacity: 0.8 !important; */
/* } */
/**/
/* .pointerlockfswarning-generic-text, */
/* .pointerlockfswarning-domain-text { */
/*   font-size: 15px !important; */
/*   color: rgb(255, 255, 255) !important; */
/*   text-shadow: none !important; */
/* } */


/* Uncomment to Hide tabs bar for Tree style tabs (Credit u/jfgxyz on Reddit) */
/* toolbar#TabsToolbar { */
/*   height: 0px; */
/*   min-height: 0 !important; */
/*   padding-top: 15px; */
/*   background-color: var(--bg) !important; */
/* } */
/**/
/* .toolbar-items { */
/*   visibility: collapse; */
/* } */
/**/
/* hbox#nav-bar-customization-target { */
/*   padding-left: 80px !important; */
/* } */

/* SIDEBERY */

/* hides the sidebar header */
#sidebar-header {
  display: none !important;
}

.tab[selected="true"] {
  visibility: collapse;
  height: 0px;
}

.tabbrowser-tab {
  visibility: collapse;
  height: 0px;
}

.tabbrowser-tab[visuallyselected="true"] {
  visibility: collapse;
  height: 0px;
}

/* AUTO HIDE SIDE BAR */

#sidebar-box {
  --uc-sidebar-width: 44px;
  --uc-sidebar-hover-width: 260px;
  --uc-autohide-sidebar-delay: 1ms;
  /* Waiting time before hiding sidebar */
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index: 100;
}

#sidebar-box[positionend] {
  direction: rtl;
}

#sidebar-box[positionend]>* {
  direction: ltr;
}

#sidebar-box[positionend]:-moz-locale-dir(rtl) {
  direction: ltr;
}

#sidebar-box[positionend]:-moz-locale-dir(rtl)>* {
  direction: rtl;
}

#sidebar-splitter {
  display: none;
}

#sidebar-header {
  overflow: hidden;
  color: var(--chrome-color, inherit) !important;
}

#sidebar {
  transition: min-width 115ms linear var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
}

#sidebar-box:hover>#sidebar {
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important;
}

.sidebar-panel {
  background-color: transparent !important;
  color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box {
  appearance: none !important;
  -moz-appearance: none !important;
  background-color: rgba(249, 249, 250, 0.1) !important;
  color: inherit !important;
}

/* Add sidebar divider and give it background */

#sidebar,
#sidebar-header {
  background-color: inherit !important;
  /* 	border-inline: 1px solid rgb(80, 80, 80); */
  border-inline-width: 0px 1px;
}

#sidebar-box:not([positionend])> :-moz-locale-dir(rtl),
#sidebar-box[positionend]>* {
  border-inline-width: 1px 0px;
}

/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

#sidebar-box:not([positionend]):hover~#appcontent #statuspanel {
  inset-inline: auto 0px !important;
}

#sidebar-box:not([positionend]):hover~#appcontent #statuspanel-label {
  margin-inline: 0px !important;
  border-left-style: solid !important;
}


/**/
/**/
/* Old styles */
/**/
/**/

/* Linux & macOS specific styles */
@media (-moz-gtk-csd-available),
(-moz-mac-big-sur-theme: 0),
(-moz-mac-big-sur-theme: 1) {
  #TabsToolbar:not([customizing="true"]) {
    visibility: collapse !important;
  }

  #toolbar-menubar {
    padding-top: 0px !important;
  }

  #TabsToolbar:not([customizing="true"]) {
    visibility: collapse !important;
  }

  #toolbar-menubar {
    padding-top: 0px !important;
  }

  #nav-bar {
    padding-left: 80px;
  }

  .titlebar-buttonbox-container {
    visibility: none !important;
    position: absolute;
    top: 12px;
    left: 0px;
  }

  .titlebar-buttonbox-container {
    display: block;
  }

  .titlebar-button>.toolbarbutton-icon {
    height: 13x !important;
    min-height: 13px !important;
    width: 13px !important;
    min-width: 13px !important;
  }

  .titlebar-button {
    padding-left: 6px !important;
    padding-right: 6px !important;
    padding-top: 6px !important;
  }

  .titlebar-placeholder[type="pre-tabs"] {
    width: 120px !important;
  }

  .titlebar-buttonbox-container {
    -moz-box-ordinal-group: 0;
  }
}

/* Windows specific styles */
@media (-moz-platform: windows-win10) {

  /* Hide main tabs toolbar */
  :root[tabsintitlebar] {
    --uc-window-control-width: 138px;
    /* Space at the right of nav-bar for window controls */
    /* --uc-window-drag-space-width: 24px; */
    /* To add extra window drag space in nav-bar */
  }

  #nav-bar {
    border-inline: var(--uc-window-drag-space-width, 0px) solid var(--toolbar-bgcolor);
    border-inline-style: solid !important;
    border-right-width: calc(var(--uc-window-control-width, 0px) + var(--uc-window-drag-space-width, 0px));

    padding-top: 0px !important;
    margin-left: -80px;
    /* Removes the space left when hiding .titlebar-buttonbox-container */
  }

  :root {
    --uc-toolbar-height: 32px;
    --chrome-content-separator-color: none !important;
  }

  :root:not([uidensity="compact"]) {
    --uc-toolbar-height: 38px;
  }

  #TabsToolbar {
    visibility: collapse !important;
  }

  /* Hide the Windows controls on the left side. */
  #TabsToolbar .titlebar-buttonbox-container {
    visibility: hidden !important;
  }

  /* Line up the Windows controls with the rest of the icons in the toolbar. */
  .titlebar-buttonbox-container {
    margin-top: 7px;
  }

  :root:not([inFullscreen]) #nav-bar {
    margin-top: calc(0px - var(--uc-toolbar-height));
  }

  #toolbar-menubar {
    min-height: unset !important;
    height: var(--uc-toolbar-height) !important;
    position: relative;
  }

  #main-menubar {
    -moz-box-flex: 1;
    background-color: var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor);
    background-clip: padding-box;
    border-right: 30px solid transparent;
    border-image: linear-gradient(to left,
        transparent,
        var(--toolbar-bgcolor, --toolbar-non-lwt-bgcolor) 30px) 20 / 30px;
  }

  #toolbar-menubar:not([inactive]) {
    z-index: 2;
  }

  #toolbar-menubar[inactive]>#menubar-items {
    opacity: 0;
    pointer-events: none;
    margin-left: var(--uc-window-drag-space-width, 0px);
  }

  :root[inFullscreen] #nav-bar {
    border-inline: none !important;
  }
}

/* General styles */
#browser {
  position: relative;
}

#main-window[inFullscreen][inDOMFullscreen] #appcontent {
  margin-left: 0;
}

#main-window[inFullscreen] #sidebar {
  height: 100vh;
}

@media (max-width: 630px) {
  #urlbar-container {
    min-width: 100% !important;
  }

  #menubar-items {
    display: none !important;
  }
}

:root,
window,
page,
dialog,
wizard,
toolbar,
.cui-widget-panel,
#widget-overflow {
  font-family: "Inter";
  letter-spacing: 0.01rem;
}

:root,
vbox,
scrollbox {
  scrollbar-color: hsla(0, 0%, 100%, 0.1) transparent !important;
  scrollbar-width: thin !important;
}

:root {
  --acrylic-backdrop-filter: blur(10px);
  --acrylic-background-blend-mode: exclusion;
  --acrylic-background-image: url("chrome://global/skin/media/imagedoc-lightnoise.png");
}

.panel-arrowbox[part="arrowbox"] {
  z-index: 999;
}

scrollbox {
  scroll-behavior: smooth;
  overflow-y: auto;
}

.scrollbutton-up[orient="vertical"],
.scrollbutton-down[orient="vertical"] {
  visibility: collapse !important;
}

scrollbar {
  scrollbar-color: hsla(0, 0%, 33%, 0.5) hsla(0, 0%, 0%, 0) !important;
  scrollbar-width: thin !important;
  background-color: hsla(0, 0%, 0%, 0.1);
  backdrop-filter: var(--acrylic-backdrop-filter) !important;
}

/*
			REMOVE TAB BAR - START
*/

#navigator-toolbox {
  position: relative !important;
}

#toolbar-menubar,
#TabsToolbar> :not(.titlebar-buttonbox-container):not(.private-browsing-indicator) {
  visibility: collapse !important;
}

.private-browsing-indicator {
  background-size: 69%;
  margin-inline-end: 6px;
  opacity: 0.7;
}

/* Workaround v2 (Since #nav-bar is bad at laying out children (it doesnt respect ::after's width on small window widths), just make it get out of the way)*/

#titlebar {
  appearance: none !important;
  -moz-appearance: none !important;
  position: absolute !important;
  inset: 2px;
  display: flex !important;
  align-items: center;
  justify-content: end;
  padding: 0 !important;

  pointer-events: none;
}

#titlebar>* {
  pointer-events: auto;
}

.titlebar-button {
  padding: 8px 13px !important;
}

/*
			REMOVE TAB BAR - END
*/

#navigator-toolbox:-moz-lwtheme {
  --tabs-border-color: rgba(0, 0, 0, 0.1) !important;
}

#nav-bar {
  padding: 2px !important;
  font-size: 10px !important;
}

#back-button,
#forward-button {
  padding: 0 !important;
}

#back-button>.toolbarbutton-icon {
  list-style-image: url("img/back.svg") !important;
}

#forward-button>.toolbarbutton-icon {
  list-style-image: url("img/forward.svg") !important;
}

#reload-button>.toolbarbutton-icon {
  list-style-image: url("img/reload.svg") !important;
}

#history-panelmenu {
  list-style-image: url("img/history.svg") !important;
}

#downloads-indicator-icon {
  list-style-image: url("img/downloads.svg") !important;
}

#bookmarks-menu-button>.toolbarbutton-icon {
  list-style-image: url("img/bookmarks.svg") !important;
}

#nav-bar-overflow-button>.toolbarbutton-icon {
  list-style-image: url("img/overflow.svg") !important;
}

#PanelUI-menu-button {
  list-style-image: url("img/menu.svg") !important;
}

#urlbar,
#searchbar {
  --urlbar-height: var(--urlbar-height,
      30px);
  /* The browser should take care of this, but just incase, this is the default */
  --urlbar-toolbar-height: var(--urlbar-container-height) !important;
  color: #eccece !important;
}

#searchbar {
  background: none !important;
  border: none !important;
  position: relative;
  box-shadow: none !important;
  border-radius: 8px !important;
}

#searchbar>* {
  position: relative !important;
}

#searchbar::before {
  content: "";
  position: absolute !important;
  display: block;
  inset: 0;
  border-radius: 3px;
}

#urlbar>#urlbar-background,
#searchbar::before {
  /* background: var(--urlbar-background) !important; */
  box-shadow: 0 0 0 transparent, 0 0 0 var(--shadow-color) !important;
  --shadow-color: hsla(0, 0%, 0%, 0);
  --toolbarbutton-border-radius: 3px;
  transition: border-color 0.15s ease, box-shadow 0.15s ease;
  animation-duration: 150ms !important;
  border-radius: 8px !important;
}

#urlbar[open]>#urlbar-background {
  box-shadow: 0 3px 5px var(--shadow-color), 0 10px 19px 4px var(--shadow-color) !important;
  backdrop-filter: var(--acrylic-backdrop-filter) !important;
  --shadow-color: hsla(0, 0%, 0%, 0.1);
  border-radius: 8px !important;
}

#urlbar-input-container,
#searchbar {
  --padding-inline: 14px;
  padding-inline: var(--padding-inline) !important;
}

#urlbar[breakout][breakout-extend]>#urlbar-input-container {
  padding-inline: calc(var(--padding-inline) + 5px) !important;
}

:root {
  --urlbar-icon-size: 14px !important;
  --urlbar-icon-padding: 4px !important;
  --identity-box-margin-inline: 8px !important;
}

.sharing-icon,
#identity-icon,
#permissions-granted-icon,
#tracking-protection-icon,
.notification-anchor-icon,
#blocked-permissions-container>.blocked-permission-icon,
#tracking-protection-icon-box,
.searchbar-search-icon {
  width: var(--urlbar-icon-size) !important;
  height: unset !important;
  aspect-ratio: 1;
}

.searchbar-search-button[addengines="true"]>.searchbar-search-icon-overlay {
  width: 9px !important;
  height: unset !important;
  aspect-ratio: 1;
  margin: -4px 0 0 -13px !important;
}

.urlbar-icon {
  width: calc(14px + 2 * var(--urlbar-icon-padding)) !important;
  height: 100% !important;
}

#urlbar #star-button {
  list-style-image: url("chrome://browser/skin/bookmark-hollow.svg") !important;
}

.urlbarView-row-inner {
  padding-inline-start: calc(var(--urlbar-icon-size) + 2 * var(--urlbar-icon-padding) + var(--identity-box-margin-inline) - 15px) !important;
  border-radius: 4px !important;
}

.searchbar-search-button {
  margin-inline-end: var(--identity-box-margin-inline);
}

.searchbar-search-icon {
  margin: 0 !important;
}

#PopupSearchAutoComplete {
  margin-top: 6px !important;
  padding: 10px !important;
  box-shadow: inset 0 12px 11px -5px #00000030 !important;
}

.search-panel-current-engine {
  padding-bottom: 10px !important;
}

.search-panel-tree {
  display: grid !important;
  gap: 10px !important;
  padding: 10px 0 !important;
}

.search-one-offs {
  padding-top: 5px !important;
}

.search-panel-header {
  padding-bottom: 5px !important;
}

.search-panel-container {
  padding-bottom: 8px !important;
}

.bookmark-item>.menu-text,
.bookmark-item>.menu-iconic-text {
  margin-inline-start: 10px !important;
}

.titlebar-min {
  display: none !important;
}

.titlebar-max {
  display: none !important;
}

.titlebar-restore {
  display: none !important;
}

.titlebar-close {
  display: none !important;
}

#bookmarksPanel {
  background-color: #00000020;
}

#urlbar,
#urlbar * {
  outline: none !important;
  box-shadow: none !important;
}

/* container tabs indicator */
.tabbrowser-tab[usercontextid]>.tab-stack>.tab-background>.tab-context-line {
  margin: -1px var(--container-tabs-indicator-margin) 0 var(--container-tabs-indicator-margin) !important;
  height: 1px !important;
  border-radius: var(--tab-border-radius) !important;
  box-shadow: 0 1px 10px 1px var(--uc-identity-gradient-colour) !important;
}

/* style and position speaker icon */
.tab-icon-overlay:not([sharing], [crashed]):is([soundplaying],
  [muted],
  [activemedia-blocked]) {
  stroke: transparent !important;
  background: transparent !important;
  opacity: 1 !important;
  fill-opacity: 0.8 !important;

  color: currentColor !important;

  stroke: var(--uc-theme-colour) !important;
  background-color: var(--uc-theme-colour) !important;
}

/* change the colours of the speaker icon on active tab to match tab colours */
.tabbrowser-tab[selected] .tab-icon-overlay:not([sharing], [crashed]):is([soundplaying],
  [muted],
  [activemedia-blocked]) {
  stroke: var(--uc-hover-colour) !important;
  background-color: var(--uc-hover-colour) !important;
}

#urlbar {
  min-width: none !important;
  border: none !important;
  outline: none !important;
}

/* nav-bar-customization-target */
