* {
  transition: 200ms ease;
  font-family: Lexend;
  font-size: 1.3rem;
}

#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
}

#match:selected {
  background: rgba(203, 166, 247, 0.7);

}

#match {
  padding: 3px;
  border-radius: 16px;
}

#entry,
#plugin:hover {
  border-radius: 16px;
}

box#main {
  background: rgba(30, 30, 46, 1);
  border: 2px solid #494d64;
  border-radius: 16px;
  padding: 8px;
}
