layout {
	// define default tab layout
    default_tab_template {
		// tab bar on the top
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

		// child tabs and panes
		children

		// status bar on the bottom
		pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

		tab name="Project" split_direction="horizontal" focus=true {
			  pane {
			    command="nvim" name="Root"
        }
    }

    tab name="Git" split_direction="horizontal" name="Git" {
        pane {
          command "lazygit"
        }
    }

	  tab name="Files" split_direction="horizontal" name="Files" {
        pane {
          command "yazi"
        }
    }

    tab name="Shell" split_direction="horizontal" name="Shell" {
        pane {
          command "zsh"
        }
    }
}
