layout {
    // define default tab layout
    default_tab_template {
        // tab bar on the top
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        // child tabs and panes
        children
        // status bar on the bottom
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab_template name="dev_tab" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="Vertical" {
            // NOTE: not sure what this even does... seems useless
            pane size="15%" name="Filetree" {
                plugin location="zellij:strider"
            }
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    pane_template name="term" {
        pane split_direction="horizontal" {
            children
            pane command="zsh" size="25%" name="Shell"
        }
    }
    tab name="khanelinix" focus=true cwd="$HOME/khanelinix/" {
        pane {
            command "nvim"
        }
    }
    tab name="Git" split_direction="horizontal" cwd="$HOME/khanelinix/" {
        pane {
            command "lazygit"
        }
    }
    tab name="Files" split_direction="horizontal" cwd="$HOME" {
        pane {
            command "yazi"
        }
    }
    tab name="Shell" split_direction="horizontal" cwd="$HOME/khanelinix/" {
        pane {
            command "zsh"
        }
    }
    tab name="Processes" split_direction="vertical" cwd="$HOME" {
        pane {
            command "btop"
        }
    }
    tab name="Media" split_direction="vertical" cwd="$HOME/Music" {
        pane split_direction="horizontal" name="Player" {
            pane {
                command "musikcube"
            }
        }
        pane split_direction="horizontal" name="Mixer" {
            pane size="35%" {
                command "pulsemixer"
            }
        }
    }
}

