#control-center {
  color: @base09;
  background-color: @base02;
  border: 2px solid @base03;
}

#idle_inhibitor {
  color: @base0A;
}

#pulseaudio {
  color: @base0B;
}

#custom-github {
  color: @base0D;
}

#custom-updates {
  color: @base08;
}

#systemd-failed-units {
  color: @base0E;
}

#custom-pipewire.muted,
#pulseaudio.muted {
  background-color: @base0C;
  color: @base0B;
}

#keyboard-state {
  color: @base0E;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#pulseaudio-slider slider {
  background-color: @base0B;
}

#pulseaudio-slider trough {
  background-color: @base00;
}

#pulseaudio-slider highlight {
  background-color: @base0B;
}
