#stats,
#stats-drawer {
  color: @base09;
  background-color: @base02;
  border: 2px solid @base03;
}

#cpu {
  color: @base08;
}

#memory {
  color: @base0A;
}
#temperature {
  color: @base0B;
}

#network {
  color: @base0D;
}

#network.disconnected {
  background-color: #f53c3c;
}

#temperature.critical {
  background-color: #eb4d4b;
}
