window#waybar {
  border: 2px solid @base03;
  background: @base00;
  box-shadow: 1px 1px 10px 10px @base01;
  color: @base05;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @base00;
  border: 1px solid @base0D;
}

tooltip label {
  color: @base05;
}

label:focus {
  background-color: @base01;
}

#custom-separator-left {
  color: @base05;
}

#custom-separator-right {
  color: @base05;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
