#workspaces {
  color: @base09;
  background-color: @base02;
  border: 2px solid @base03;
}

#workspaces button {
  background: transparent;
  color: @base05;
}

#workspaces button:hover,
#workspaces button:focus,
#workspaces button:active,
#workspaces button:checked,
#workspaces button.empty,
#workspaces button.visible,
#workspaces button.active,
#workspaces button.focused,
#workspaces button.urgent,
#workspaces button.current_output,
#workspaces button.hosting-monitor,
#workspaces button.persistent {
  background: transparent;
}

#workspaces button.empty {
  color: @base04;
}

#workspaces button.visible {
  color: @base0D;
}

#workspaces button.active {
  color: @base0B;
}

#workspaces button.urgent {
  box-shadow: 0 0 0 2px @base08;
  color: @base08;
}
