/* Custom styling for the logout icon on end */
#custom-wlogout, #custom-power {
  font-size: 1.75em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: @blue;
}

#power .not-power {
    color: @red;
  }
