#control-center {
  color: @peach;
  background-color: @surface0;
  border: 2px solid @surface1;
}

#idle_inhibitor {
  color: @yellow;
}

#pulseaudio {
  color: @green;
}

#custom-github {
  color: @blue;
}

#custom-updates {
  color: @red;
}

#systemd-failed-units {
  color: @mauve;
}

#custom-pipewire.muted,
#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#keyboard-state {
  color: @mauve;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#pulseaudio-slider slider {
  background-color: @green;
}

#pulseaudio-slider trough {
  background-color: @base;
}

#pulseaudio-slider highlight {
  background-color: @green;
}
