#stats,
#stats-drawer {
  color: @peach;
  background-color: @surface0;
  border: 2px solid @surface1;
}

#cpu {
  color: @red;
}

#memory {
  color: @yellow;
}
#temperature {
  color: @green;
}

#network {
  color: @blue;
}

#network.disconnected {
  background-color: #f53c3c;
}

#temperature.critical {
  background-color: #eb4d4b;
}
