window#waybar {
  border: 2px solid @surface1;
  background: @base;
  box-shadow: 1px 1px 10px 10px @mantle;
  color: @text;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @base;
  border: 1px solid @blue;
}

tooltip label {
  color: @text;
}

label:focus {
  background-color: @surface0;
}

#custom-separator-left {
  color: @text;
}

#custom-separator-right {
  color: @text;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
