#workspaces {
  color: @peach;
  background-color: @surface0;
  border: 2px solid @surface1;
}

#workspaces button {
  background: transparent;
  color: @text;
}

#workspaces button:hover,
#workspaces button:focus,
#workspaces button:active,
#workspaces button:checked,
#workspaces button.empty,
#workspaces button.visible,
#workspaces button.active,
#workspaces button.focused,
#workspaces button.urgent,
#workspaces button.current_output,
#workspaces button.hosting-monitor,
#workspaces button.persistent {
  background: transparent;
}

#workspaces button.empty {
  color: @overlay0;
}

#workspaces button.visible {
  color: @blue;
}

#workspaces button.active {
  color: @green;
}

#workspaces button.urgent {
  box-shadow: 0 0 0 2px @red;
  color: @red;
}
